@font-face {
    font-family: 'Yeseva One';
    src: url('./fonts/YesevaOne-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Serif';
    src: url('./fonts/PTSerif-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Serif';
    src: url('./fonts/PTSerif-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather-Black.ttf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.ttf');
    font-style: normal;
    font-weight: 900;
}
