@import url('reset.css');
@import url('fonts.css');

/* ------- header ------- */

.header {
    height: 46px;
    padding: 15px;
    background-color: #181818;
    display: flex;
    align-items: center;
}

.h2 {
    margin-left: 70px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFC700;
    position: relative;
}

.h2::before {
    content: '';
    display: inline-block;
    width: 48px;
    height: 47px;
    background-image: url('../images/brain.png');
    position: absolute;
    top: -17px;
    left: -60px;
}

.h2-final {
    margin-left: 80px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
}

.h2-final::before {
    top: -13px;
    left: -70px;
}

.menu {
    background-color: #181818;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.menu__header {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.menu__main {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.link-yellow {
    color: #F4CE0C;
}

/* ------- main ------- */

.btn {
    width: 189px;
    height: 41px;
    background-color: #FFC700;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0D0C11;
    border-radius: 20px;
}

.btn:disabled {
    background-color: #dadada;
    color: #8e8e8e;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn-white {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.main {
    color: #fff;
}

/* ------- start ------- */

.one {
    height: calc(100vmax - 46px);
    min-height: 450px;
    padding: 30px 20px 10px;
    background-image: url('../images/rain_bk2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one__block1 {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.one__go {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
}

.h1 {
    width: 250px;
    margin: 0 auto;
    font-family: 'Yeseva One', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFC700;;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.one__block2 {
    height: 31%;
    background-image: url('../images/rain_bk3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.one__block3 {
    height: 39%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.one__descr {
    width: 286px;
    margin-top: 11px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
}

.yellow {
    color: #FFC700;;
}

.toinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toinfo__btn {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
}

.toinfo__span {
    margin-top: 5px;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    letter-spacing: 0.05em;
}

.two {
    height: 339px;
    padding: 40px 30px 30px;
    background-image: radial-gradient(84.34% 50.29% at 48.75% 49.71%, #2950C2 0%, rgba(38, 91, 199, 0.96) 40.62%, rgba(39, 98, 187, 0) 85.42%), url('../images/bg2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.two__text {
    width: 248px;
    margin-top: 15px;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.12em;
    align-self: center;
}

.two__img1 {
    width: 23px;
    align-self: start;
}

.two__img2 {
    width: 23px;
    transform: rotate(180deg);
    text-align: right;
    align-self: end;
}

.three {
    padding: 40px 4vw;
    background: #F3F3F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.three__p {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #272727;
}

.big {
    text-transform: uppercase;
}

.four {
    width: 100%;
    height: 533px;
    padding: 50px 4vw 10px;
    background-image: url('../images/lightning_left.png'), url('../images/lightning_right.png'), url('../images/rain_bk2.jpg');
    background-size: auto, auto, cover;
    background-repeat: no-repeat;
    background-position: 0% 90%, 100% 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.four__p1 {
    max-width: 500px;
    padding: 0 4vw;
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.four__p1 .yellow {
    font-weight: 900;
}

.four__p2 {
    height: 216px;
    padding: 30px 5vw;
    background: rgba(243, 243, 242, 0.8);
    border-radius: 20px;
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #181818;
}

.copyright {
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
}

/* ------- test ------- */

.test {
    height: calc(100vmax - 46px);
    padding: 15px 0 25px;
    background-image: linear-gradient(rgba(13, 12, 17, 0.728), rgba(13, 12, 17, 0.728)), url('../images/rain_bk2.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.progress-bg {
    width: 260px;
    height: 11px;
    background: rgba(242, 243, 243, 0.6);
    mix-blend-mode: normal;
    border-radius: 10.5px;
}

.progress-value {
    height: 11px;
    background: #3BDE7C;
    border-radius: 10.5px;
    opacity: 1;
}

.questions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.h3 {
    padding: 0 15px;
    font-family: 'PT Serif', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
}

.questions img {
    max-width: 200px;
}

.answers1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answers1 label {
    width: 100%;
    padding: 8px 30px;
    background-color: rgba(242, 243, 243, 0.15);
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.answers1 label:has(input:checked) {
    background-color: #FFC700;
    color: #272727;
}

.answers1 label::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
}

.answers1 label:has(input:checked)::before {
    background: #2950C2;
    border: 1px solid #272727;
}

.answers1 input {
    margin-right: 30px;
    opacity: 0;
}

.answers2 {
    width: 265px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.answers2 label {
    width: 75px;
    height: 75px;
}

.answers2 label:has(input:checked) {
    outline: 6px solid #FFC700;
    outline-offset: -3px;
}

.answers2 input {
    opacity: 0;
}

.answers3 {
    width: 100%;
    padding: 20px 15px 0;
    border-top: 4px solid rgba(242, 243, 243, 0.15);
    display: flex;
    justify-content: space-around;
}

.answers3 label {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 6px solid #fff;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #0D0C11;
}

.answers3 label:has(input:checked) {
    border-color: #FFC700;
}

.answers3 input {
    opacity: 0;
    position: absolute;
}

/* ------- final ------- */

.progressing {
    height: calc(100vmax - 46px);
    padding: 15px 0 30vh;
    background-image: linear-gradient(rgba(13, 12, 17, 0.728), rgba(13, 12, 17, 0.728)), url('../images/rain_bk2.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.progressing__h3 {
    width: 200px;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
}

.progressing__wait {
    width: 65px;
    height: 69px;
    background-image: url('../images/wait.svg');
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.progressing__p {
    width: 276px;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
}

.final {
    min-height: calc(100vmax - 46px);
    background-image: 
        url('../images/lightning_left2.png'), 
        url('../images/lightning_right2.png'), 
        linear-gradient(rgba(13, 12, 17, 0.728), rgba(13, 12, 17, 0.728)),
        url('../images/rain_bk2.jpg');
    background-size: auto, auto, auto, cover;
    background-repeat: no-repeat;
    background-position: 0% 90%, 100% 100%;
    overflow: scroll
}

.final__block {
    width: 100%;
    height: calc(100vmax - 46px);
    padding: 30px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.final__h4 {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.final__p1 {
    width: 260px;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.underline {
    text-decoration-line: underline;
}

.final__h5 {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3BDE7C;
}

.final__p2 {
    width: 256px;
    height: 114px;
    padding: 15px;
    background-color: #1C2741;
    border-radius: 6px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.final__p3 {
    width: 240px;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #3BDE7C;
}

.timer {
    margin-right: 10px;
    font-size: 20px;
}

.call {
    width: 290px;
    height: 90px;
    padding: 12px;
    background: #EB1B00;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call__span {
    width: 200px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.result {
    width: 100%;
}

.result h6 {
    margin-top: 10px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFC700;
}

.result table {
    margin: 20px auto;
}

.result td {
    padding: 5px;
    vertical-align: top;
    text-transform: capitalize;
}

.result a {
    color:#46B2AC;;
}

.footer {
    width: 290px;
    height: 18px;
    overflow: scroll;
}

.footer__p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 7px;
    line-height: 9px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.hide {
    display: none;
}
