*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
